:root{
    --fonte-principal: 'Raleway';
    --tamanho-fonte: 24px;
}

body{
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-fonte);
}

#apresentacao{
    height: 100vh;
    background-color: #4a4a4a;
    color: white;
    text-align: center;
}

.foto-principal{
    margin-top: 50%;
    border-radius: 100%;
    width: 55%;
}